{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
  <div class="my-3 bg-body rounded shadow w-50 mx-auto">
    <div class="py-2 rounded-top d-flex justify-content-center" style="background-color: #ccccff">
      <h2>Forgotten your password?</h2>
    </div>
    <div class="p-3">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="my-2 d-flex justify-content-center">
          <button type="submit" class="btn btn-success btn-lg">Send an email!</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}