{% extends 'base.html' %}
{% load static cinemas_extra %}

{% block title %}{{ film.title }}{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center my-3 p-3 bg-body rounded shadow w-85 mx-auto">
  <div class="d-grid gap-1" style="grid-template-columns: 230px auto">
    <div class="d-flex justify-content-center">
      {% if film.poster %}
        <a href="{{ film.poster.url }}">
          <img class="rounded" src="{{ film.poster.url }}" style="max-width: 100%; height: auto;">
        </a>
      {% else %}
        <img class="rounded" src="{% static 'images/movie_question.png' %}" height="300" width="200">
      {% endif %}
    </div>
    <div class="px-1">
      <div>
        <h4>
          {{ film.title }}
          <img src="{% if film.country %}{{ film.country.flag }}{% endif %}" />
        </h4>
        <p class="fs-6">{% if film.description %}{{ film.description }}{% endif %}</p>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <h6><b>Genre:</b></h6>
            <h6 class="mx-2"><a href="{{ film.genre.get_absolute_url  }}">{% if film.genre %}{{ film.genre.name }}{% endif %}</a></h6>
          </div>
          <div class="d-flex">
            <h6><b>World premiere:</b></h6>
            <h6 class="mx-2">{{ film.premiere }}</h6>
          </div>
          <div class="d-flex">
            <h6><b>Running time:</b></h6>
            <h6 class="mx-2">
              {% if film.duration %}
                  {{ film.duration|pretty_time }}
              {% endif %}
            </h6>
          </div>
          <div class="d-flex">
            <h6><b>Box office:</b></h6>
            <h6 class="mx-2">
              {% if film.profit %}
                {{ film.profit|pretty_profit }}
              {% endif %} 
            </h6>
          </div>
        </div>
        <div class="col">
          {% if imdb_rating %}
            <div class="d-flex">
              <h6><b>IMDB rating:</b></h6>
              <h6 class="mx-2">{{ imdb_rating }}</h6>
            </div>
          {% endif %}
          <div id="film_rating_container"
                style="display: {% if film.rating == 0 %}none{% else %}flex{% endif %}">
              <h6><b>Rating:</b></h6>
              <h6 class="mx-2" id="film_rating">{{ film.rating }}</h6>
          </div>
          <div>
            <h6><b>Choose your rating:</b></h6>
            <div>
              {% for index in 1|range:11 %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#D4D4D4"
                    class="star bi bi-star-fill" viewBox="0 0 16 16" onclick="vote({{ index }})">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h6><b>Actors:</b></h6>
          <div>
            <p>
              {% for film_actor in film.actors.all %}
                <a href="{% url 'cinema:person_detail' film_actor.id %}">{{ film_actor.name }}</a>
                {{ forloop.last|yesno:",&#44;"|safe }}
              {% endfor %}
            </p>
          </div>
        </div>
        <div class="col">
          {% with film_directors=film.directors.all %}
          <h6><b>Director{{ film_directors|pluralize }}:</b></h6>
          <div>
            <p>
              {% for film_director in film_directors %}
                <a href="{% url 'cinema:person_detail' film_director.id %}">{{ film_director.name }}</a>
                {{ forloop.last|yesno:",&#44;"|safe }}
              {% endfor %}
            </p>
          {% endwith %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let vote_rating = {{ vote }};
  star_fill(vote_rating);

  function vote(value) {
    $.ajax({
        type: "POST",
        url: "{% url 'cinema:film_detail' film.slug %}",
        data: {
          'csrfmiddlewaretoken': Cookies.get('csrftoken'),
          'vote': value
        },
        dataType: 'json'
    })
    .done(function (response) {
      $("#film_rating").html(response['overall_rating'])
      $("#film_rating_container").css('display', 'flex');
      vote_rating = value;
    })
  }

  $('.star').css({cursor: 'pointer'});

  $('.star').hover(function () {
    $(this).parent().children('.star').css({fill: '#D4D4D4'});
    $(this).prevAll().each(function () {
        $(this).css({fill: 'orange'});
    });
    $(this).css({fill: 'orange'});
  }, () => star_fill(vote_rating));

  function star_fill(value) {
    let stars = $('.star').parent().children('.star');
    stars.each(function (index) {
      if (index < value) {
        this.style.fill = 'orange'
      } else {
        this.style.fill = '#D4D4D4'
      }
    });
  }
</script>
{% endblock %}

