{% extends 'base.html' %}
{% load static %}

{% block title %}Search results{% endblock title %}

{% block content %}
  <div class="my-3 p-3 w-75 mx-auto">
    <div class="d-flex bg-dark justify-content-between align-items-center mb-2 text-white rounded">
      <p><h3 class="my-1">Search Results</h3></p>
    </div>
    
    <div id="films-list" class="d-grid gap-1 ">
      {% include 'cinema/film_list.html' with films=films only%}
    </div>
    <div id="actor-director-list" class="row row-cols-1 row-cols-md-3 mt-2">
      {% include 'cinema/person_list.html' with person_list=people only %}
    </div>

  </div>
{% endblock content %}